---
- name: Install Let's Encrypt dependencies
  ansible.builtin.apt:
    name:
      - python3-pip
      - cron

- name: Install certbox
  ansible.builtin.pip:
    name:
      - certbot==4.0.0
      - certbot-nginx==4.0.0

- name: Create certificates
  ansible.builtin.include_tasks: cert.yml
  vars:
    site: "{{ item }}"
  loop: "{{ sites }}"
  when: sites is defined

- name: Enable cron
  ansible.builtin.service:
    name: cron
    enabled: true
    state: started

- name: Update cron PATH
  ansible.builtin.cron:
    name: PATH
    env: yes
    job: /usr/sbin:/usr/local/bin

- name: Schedule certificate renewal
  ansible.builtin.cron:
    name: renew_cert
    special_time: weekly
    job: certbot renew && service nginx reload