server {
        listen 80;
        listen [::]:80;

        root /var/www/{{ site.name }}/html;
        index index.html;

        server_name {{ site.domains | join(' ') }};

        location / {
                try_files $uri $uri/ =404;
        }
}